* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}
.nav
{
  margin: 0px 20px;
}
.Cards
{
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  
}
.CardContent
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
.CardImage
{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;

}
.time
{
  display: flex;
  align-items: center;
  gap: 4px;
  color: grey;
}
.ExPrix
{
  text-decoration: line-through;
  color: grey;
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}
.CardPrix
{
  color: #9c27b0;
}
.css-ryrseu-MuiRating-root
{
  color: #9c27b0 !important;
  font-size: 15px !important;
}
.TitleHome
{
  text-align: center;
  font-size: x-large;
  margin: 20px 0px 15px 0px;
}
.UnderTitleHome
{
 text-align: center;
 font-size: medium;
 color: #9c27b0;
 margin: 0px 0px 20px 0px;
}
a:link {color:hsl(291, 64%, 42%);text-decoration:none;}
.NavHome a:visited {color:#ffffff;text-decoration:none;}
.NavDest a:visited {color:#ffffff;text-decoration:none;}
.UnderTitleHome a:visited {color:#9c27b0;text-decoration:none;}

.UnderTitleHome.visited
{
  color: #9c27b0 !important;
}
.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	/* visibility: hidden; */
	/* opacity: 0; */
	font-size: 1.8rem;
  display: none;
}
@media only screen and (max-width: 900px) {

  .nav-btn {
		display: block;
	}
  nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column !important;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color:#9c27b0;
		transition: 1s;
		transform: translateY(-100vh);
    z-index: 1;
	}
  .responsive_nav {
		transform: none;
	}
  .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
.nav
{
  display: flex;
		flex-direction: column !important;
    align-items: center !important;
		justify-content: center;
}



}
img
{
  width: 100%;
height: 300px;
}
.box
{
 padding: 20px;
 margin: auto;
}
.css-1x1xx5k
{
  margin: auto;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
{
  margin: 0px 0px 0px 10px;
}
.a
{
  font-size: 13px;
  color: #9b27b098;
}

.topcard
{
  display: flex;
}
.Price
{
  display: flex;
  flex-direction: column;
}
.contentCard
{
  display: flex;


}
.CardsImage
{
  margin: 20px;
width: 250%;
}
.act
{
  margin-top: 10px;
}
.css-1k3rt34-MuiPaper-root-MuiCard-root
{
  margin: auto;
  background-color: red;
}
.descriptionCard
{
  margin-top: 20px;
}
.contentsCard
{
  display: flex;
  justify-content: space-between;

}
.Flex-top
{
  display: flex;
  justify-content: space-between;
  gap: 120px;
  margin-top: 20px;
}
.TitleCardRegion
{
  font-size: 20px;
  color: #9c27b0;
  
}
.DescriptionCardRegion
{
  font-size: 16px;
  margin: 15px 0px;
}
.rating
{
  margin: 15px 0px;
}
.BasCard
{
  display: flex;
  align-items: center !important;

}
.descriptionC
{
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}
.descp
{
  font-size: 1.125rem;
}
h1{
  margin: 15px 0px;
 
}
h2
{
  margin: 15px 0px;
  
}
.Hotels
{
  font-size: 1.125rem;
}
.ThingsToDo
{
  font-size: 1.125rem;
}
.CardConte
{
  margin: 10px 0px;
}
.BasCard
{
  margin: 10px 0px; 
}
.CardsPrix
{
  display: flex;
  margin: 0px 80px 0px 0px;
  align-items: center;
  gap: 10px;
  color: #9c27b0;
  margin: 6px 0px;
}
.as 
{
  font-size: 13px;
  color: #9b27b098;
display: flex;
align-items: center;
}
.DescriptionCardactivite
{
  width: 500px;
  font-size: 1.05em;
}
.TitleCardactivite
{
  font-size: 22px;
  color: #9c27b0;
}
.TitleActivite
{
  margin: 10px 0px;
  margin-left: auto;
  margin-right: auto;
  width:1180px;
  
}
.Prixvol
{
  display: flex;
  align-items: center;
  color: #9c27b0;
  margin: 6px 0px 0px 0px;
  gap: 4px;

  justify-content: flex-end;
}
.VolCardContent
{
  display: flex;
  gap: 10px;
  font-size: 14px;
}
@media only screen and (max-width: 1190px) {
  .descriptionC
 {
  margin-left: 0px;
  margin-right: 0px;
width: auto;
margin: 10px;
 }


}
@media only screen and (max-width: 950px) {
 .contentCard
{
  display: flex;
  flex-direction: column;
}
.CardsImage
{
  width: 100%;
  height: 100%;
  margin: 0px;
}
.TitleCardactivite
{
  font-size: 20px;
}
.DescriptionCardactivite
{
  width: 100%;
  font-size: 17px;
}
.act
{
  margin: 15px;
}
img {
  width: 100%;
  height: 100%;
}

}