* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}
.nav
{
  margin: 0px 20px;
}
.Cards
{
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  
}
.CardContent
{
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
.CardImage
{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;

}
.time
{
  display: flex;
  align-items: center;
  gap: 4px;
  color: grey;
}
.ExPrix
{
  text-decoration: line-through;
  color: grey;
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}
.CardPrix
{
  color: #9c27b0;
}
.css-ryrseu-MuiRating-root
{
  color: #9c27b0 !important;
  font-size: 15px !important;
}
.TitleHome
{
  text-align: center;
  font-size: x-large;
  margin: 20px 0px 15px 0px;
}
.UnderTitleHome
{
 text-align: center;
 font-size: medium;
 color: #9c27b0;
 margin: 0px 0px 20px 0px;
}
a:link {color:hsl(291, 64%, 42%);text-decoration:none;}
.NavHome a:visited {color:#ffffff;text-decoration:none;}
.NavDest a:visited {color:#ffffff;text-decoration:none;}
.UnderTitleHome a:visited {color:#9c27b0;text-decoration:none;}

.UnderTitleHome.visited
{
  color: #9c27b0 !important;
}
.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	/* visibility: hidden; */
	/* opacity: 0; */
	font-size: 1.8rem;
  display: none;
}
@media only screen and (max-width: 900px) {

  .nav-btn {
		display: block;
	}
  nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column !important;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color:#9c27b0;
		transition: 1s;
		transform: translateY(-100vh);
    z-index: 1;
	}
  .responsive_nav {
		transform: none;
	}
  .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
.nav
{
  display: flex;
		flex-direction: column !important;
    align-items: center !important;
		justify-content: center;
}



}
img
{
  width: 100%;
height: 300px;
}
.box
{
 padding: 20px;
 margin: auto;
}
.css-1x1xx5k
{
  margin: auto;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
{
  margin: 0px 0px 0px 10px;
}
.a
{
  font-size: 13px;
  color: #9b27b098;
}

.topcard
{
  display: flex;
}
.Price
{
  display: flex;
  flex-direction: column;
}
.contentCard
{
  display: flex;


}
.CardsImage
{
  margin: 20px;
width: 250%;
}
.act
{
  margin-top: 10px;
}
.css-1k3rt34-MuiPaper-root-MuiCard-root
{
  margin: auto;
  background-color: red;
}
.descriptionCard
{
  margin-top: 20px;
}

.contentsCard
{
  display: flex;
  justify-content: space-between;

}
.Flex-top
{
  display: flex;
  justify-content: space-between;
  gap: 120px;
  margin-top: 20px;
}
.TitleCardRegion
{
  font-size: 20px;
  color: #9c27b0;
  
}
.DescriptionCardRegion
{
  font-size: 16px;
  margin: 15px 0px;
}
.rating
{
  margin: 15px 0px;
}
.BasCard
{
  display: flex;
  align-items: center !important;

}
.descriptionC
{
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
  z-index: 1;
}
.infoss
{
  width: 1980px;
}
.descp
{
  font-size: 1.125rem;
}
h1{
  margin: 15px 0px;
 
}
h3
{
  margin: 22px 0px;
  
}
.Hotels
{
  font-size: 1.125rem;
  width: 550px;
}
.ThingsToDo
{
  font-size: 1.125rem;
}
.CardConte
{
  margin: 10px 0px;
}
.BasCard
{
  margin: 10px 0px; 
}
.CardsPrix
{
  display: flex;
  margin: 0px 80px 0px 0px;
  align-items: center;
  gap: 10px;
  color: #9c27b0;
  margin: 6px 0px;
}
.as 
{
  font-size: 13px;
  color: #9b27b098;
display: flex;
align-items: center;
}
.DescriptionCardactivite
{
  width: 500px;
  font-size: 1.05em;
}
.TitleCardactivite
{
  font-size: 18px;
  color: #9c27b0;
}
.TitleActivite
{
  margin: 10px 0px;
  margin-left: auto;
  margin-right: auto;
  width:1180px;
  
}
.Prixvol
{
  display: flex;
  align-items: center;
  color: #9c27b0;
  margin: 6px 0px 0px 0px;
  gap: 4px;

  justify-content: flex-end;
}
.VolCardContent
{
  display: flex;
  gap: 10px;
  font-size: 14px;
}
.descpt 
{
  display: flex;
    justify-content: center;
    gap: 70px;
   
    

}
.descp 
{
  display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;  
    

}
.css-zjf1nq-MuiPaper-root
{
  visibility: hidden;
}
.css-rh92k-MuiPaper-root-MuiMobileStepper-root
{
  visibility: hidden;
}
.css-1x1xx5k
{
  width: 100%;
    height: 150%;
}
.carousel .thumbs {
  display: none;
}
.carousel .carousel-status {
display: none;
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 470px !important;
  transition: height .15s ease-in;
  /* height: 500px !important; */
  margin-top: 20px !important;
  margin-left: 4px !important;
}
.carousel.carousel-slider .control-arrow {
  top: 20px !important;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  color: red;
  margin: 0px 40px 0px 40px;
  margin-left: 4px !important;
}
.carousel.carousel-slider .control-arrow {
  margin: 0px 75px 0px 0px !important;
}
.carousel .control-dots
{
  margin: 0px 95px 0px 0px !important; 
}
@media only screen and (max-width: 1190px) {
  .descriptionC
 {
  margin-left: 0px;
  margin-right: 0px;
width: auto;
margin: 10px;
 }
}
 @media only screen and (max-width: 1100px) {
  .descpt
{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.affichage
{
  width: auto;
}
.infoss
{
  width: auto;
}

}
@media only screen and (max-width: 950px) {
 .contentCard
{
  display: flex;
  flex-direction: column;
}
.CardsImage
{
  width: 100%;
  height: 100%;
  margin: 0px;
}
.TitleCardactivite
{
  font-size: 20px;
}
.DescriptionCardactivite
{
  width: 100%;
  font-size: 17px;
}
.act
{
  margin: 15px;
}
img {
  width: 100%;
  height: 100%;
}

}
.form
{
  margin: 0px 0px 50px 0px;
}
.form
{
  width:340px;
  height:670px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative}
.TitleContact{
  margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color: #9c27b0;
  border-bottom:3px solid #9c27b0
}
.InputContact{
  width:100%;
  padding:5px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #9c27b0;
  color: #000;
  margin-top:20px ;
}
.InputContact:focus{
  border-bottom:2px solid #78788c
}
p:before{
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a
}
.SubmitContact{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #9c27b0;
  background:0;
  color:#9c27b0;
  cursor:pointer;
  transition:all .3s
}
.SubmitContact:hover{
  background:#9c27b0;
  color:#fff
}
.NavContact
{
  color: white;
}
.ContactUs
{
  display: flex;
  margin: 10px 20px;
  align-items: center;
}
.icon
{
  color: #9c27b0;
}
.ContactUs a:visited {color:#000;text-decoration:none;}
.AboutUs
{
  display: flex;
  align-items: center;
}

.titre
{
  margin-top: 20px;
  text-align: center;
}
.DescriptionAbout
{

  margin: auto;
  text-align: center;
  font-size:18px;
}
.TitreContact
{
  margin: 30px 20px;
}
/* h2{
  margin-bottom: 20px;
} */
hr.new1 {
  border: 0.5px solid #9c27b0;
  margin: auto;
  width: 300px;
  margin-top: 7px;
}
hr.new2 {
  border: 0.5px dotted #9c27b0;
  width: 1200px;
  margin: auto;
  margin: 10px 0px;
}
.AboutUs
{
  width: 1200px;
  margin: auto;
}
.liste
{
  font-size: 18px;
}
@media only screen and (max-width: 1220px) {
  .AboutUs
  {
    width:auto;
  }
  hr.new1
  {
    width: 300px;
  }
  hr.new2
  {
    width: auto;
  }

}
@media only screen and (max-width: 950px) {
  .Hotels
  {
    width: auto;
  }
}